<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
<form
    th:fragment="newUserForm"
    id="userForm"
    class="d-flex flex-column align-items-center"
    th:object="${newUser}"
    th:action="@{/admin}"
    method="POST"
>
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label class="form-label fw-bold">First name</label>
    <input type="text" class="form-control" th:field="*{firstName}" required>
  </div>
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label class="form-label fw-bold">Last name</label>
    <input type="text" class="form-control" th:field="*{lastName}" required>
  </div>
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label class="form-label fw-bold">Birth date</label>
    <input type="date"
           class="form-control"
           name="birthDate"
           required
           th:field="*{birthDate}"
    >
  </div>
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label class="form-label fw-bold">Email address</label>
    <input type="email" class="form-control" th:field="*{email}" required>
  </div>
  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label class="form-label fw-bold">Password</label>
    <input type="password" class="form-control" th:field="*{password}" required>
  </div>

  <div class="mb-3 d-flex flex-column align-items-center w-100">
    <label>Role</label>
    <select th:size="${roles.size()}"
            th:field="*{roles}"
            multiple
            required
            class="form-select">
      <option th:each="role: ${roles}"
              th:value="${role.getName()}"
              th:text="${role.getName()}"
      />
    </select>
    <button type="submit" class="mt-5 btn btn-success fs-4">Add new
      user
    </button>
  </div>
</form>
</body>
</html>