<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Navbar</title>
</head>
<body>
<ul class="pt-4 list-group fs-5" th:fragment="sidebar">
  <li>
    <a th:href="@{/admin}"
       class="list-group-item list-group-item-action active border-0"
       aria-current="true">Admin</a>
  </li>
  <li sec:authorize="hasRole('ROLE_USER')">
    <a th:href="@{/user}" class="list-group-item list-group-item-action border-0">User</a>
  </li>
</ul>
</body>
</html>